<mat-toolbar color="primary" class="footer-top">
  <div class="footer-container">
    <div class="footer-section logo-section">
      <img src="assets/logoipsum.svg" alt="Logo" class="footer-logo" />
      <p>Cras sem odio, malesuada id diam id, tempus accumsan turpis.</p>
      <h3>Follow us</h3>
      <div class="social-icons">
        <!-- <button mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="tiktok"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="instagram"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="youtube"></mat-icon></button>
        <button mat-icon-button><mat-icon svgIcon="linkedin"></mat-icon></button> -->
      </div>
    </div>

    <div class="footer-section contact-section">
      <h3>Contact us</h3>
      <p><mat-icon>whatsapp</mat-icon> +57 312 345 6789</p>
      <p><mat-icon>call</mat-icon> 01 8000 12 34 56</p>
      <p><mat-icon>mail</mat-icon> contact&#64;logoipsum.co</p>

    </div>

    <div class="footer-section legal-section">
      <h3>Legal</h3>
      <p>Terms y Conditions</p>
      <p>Data Policy</p>
      <p>Cookies Policy</p>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar color="accent" class="footer-bottom">
  <span><strong>Logo Ipsum - Todos los derechos reservados.</strong></span>
  <span class="spacer"></span>
  <span>
    Maecenas ex augue, ullamcorper in libero fringilla, pretium faucibus nisi.
    Aenean maximus sagittis ipsum, at sagittis risus vulputate et.
  </span>
</mat-toolbar>
