.custom-sidenav {

  color: white;

  ::ng-deep .mat-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  ::ng-deep .mat-icon {
    margin-right: 16px;
    color: #0B1F3A;
  }

  ::ng-deep .mat-list-item span {
    font-size: 1rem;
    font-weight: 400;
  }

  ::ng-deep .mat-nav-list .mat-list-item {
    transition: background 0.3s ease;
    border-radius: 8px;
    margin: 4px 8px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  background-color: #0B1F3A;
  color: white;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px; // o 56px en mobile
  z-index: 1000;
  margin-bottom: 20px;
}

.desktop-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

button[mat-icon-button] {
  border-radius: 16px;
  color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

mat-toolbar app-logo {
  margin-left: 8px;

  @media (min-width: 768px) {
    margin-left: 24px;
  }
}
