<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav position="end" mode="over" class="custom-sidenav">
    <mat-nav-list (click)="sidenav.close()">

      <a mat-list-item routerLink="/" class="nav-item">
        <mat-icon>school</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-list-item routerLink="/home" class="nav-item">
        <mat-icon>how_to_reg</mat-icon>
        <span>Register</span>
      </a>

      <a mat-list-item routerLink="/login" class="nav-item">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="custom-toolbar" >

    <app-logo></app-logo>

    <span class="example-spacer"></span>

    <app-sidenav-buttons></app-sidenav-buttons>

    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
