<div class="principal-card">

  <div class="title">
    <h3>Lorem ipsum
      dolor sit amet</h3>
  </div>

  <mat-tab-group class="tab-group">
    <mat-tab label="Mauris vulputate ">
      <div class="tab-content">
        <img src="../../assets/images/slider1.png" alt="Ejemplo" width="300" class="image-example" />
        <div class="tab-text">
          <h4>
            Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor
            consequat.

            Nulla at nulla mattis, placerat arcu ut, ornare libero. Etiam sit amet urna efficitur, auctor magna nec,
            pellentesque magna. Ut at libero et risus convallis facilisis.
          </h4>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="lorem sed lacus">
      <div class="tab-content">
        <div class="tab-text">

          <h4>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor
            consequat.

            Nulla at nulla mattis, placerat arcu ut, ornare libero. Etiam sit amet urna efficitur, auctor magna nec,
            pellentesque magna. Ut at libero et risus convallis facilisis.</h4>
        </div>
        <img src="../../assets/images/slider2.png" alt="Ejemplo" width="300" class="image-example" />
      </div>
    </mat-tab>
    <mat-tab label="lacus efficitur">
      <div class="tab-content">
        <img src="../../assets/images/slider3.png" alt="Ejemplo" width="300" class="image-example" />
        <div class="tab-text">
          <h4>Aliquam vulputate magna in viverra mattis. Aliquam volutpat dui fringilla leo posuere, sed facilisis tortor
            consequat.

            Nulla at nulla mattis, placerat arcu ut, ornare libero. Etiam sit amet urna efficitur, auctor magna nec,
            pellentesque magna. Ut at libero et risus convallis facilisis.</h4>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
